<!-- templates/posty/profile.html -->
<!-- TODO display profile posts in descending order -->
{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="column is-three-fifths">
        <div class="block">
            <h1 class="title is-1">{{ profile.user.username }}'s Posts</h1>
            {% if profile.user.username != user.username %}
                <a href="/messages/write/{{ profile.user.username }}/">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-envelope"
                         viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>
                </a>
            {% endif %}
            <p>Karma: {{ profile.user.user_karma }}</p>
        </div>
        <div class="content">
            {% for post in profile.user.posts.all %}
                <a class="post" href="{% url 'posty:post_detail' post.pk %}">
                    <div class="box">
                        {{ post.body }}
                        {% if post.edited %}(Edited){% endif %}
                        <span class="is-small has-text-grey-light">({{ post.created_at }})</span>
                        <p>K: {{ post.post_karma }}</p>
                        <p>Comments: {{ post.comment_count }}</p>
                    </div>
                </a>
                <br>
            {% endfor %}
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="columns">
            <div class="column is-one-third">
                <figure class="image is-96x96">
                    <img src={{ profile.user.profile_picture.url }} alt="Placeholder image" class="profile_pfp">
                </figure>
            </div>
            <div class="column">
                <h1 class="title is-1">{{ profile.user.username }}</h1>
            </div>
        </div>
        <div class="block">
            <a href="{% url 'posty:profile_list' %}" style="text-decoration: none;">
                <button class="button is-dark is-outlined is-fullwidth">All Profiles</button>
            </a>
            <form method="post">
                {% csrf_token %}
                <div class="buttons has-addons mt-1">
                    {% if profile in user.profile.follows.all %}
                        <button class="button is-success is-static">Follow</button>
                        <button class="button is-danger" name="follow" value="unfollow">Unfollow</button>
                    {% else %}
                        <button class="button is-success has-background-info-dark"
                                name="follow"
                                value="follow">Follow</button>
                        <button class="button is-danger is-static">Unfollow</button>
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="block">
            <h3 class="title is-4">{{ profile.user.username }} follows:</h3>
            <div class="content">
                <ul>
                    {% for following in profile.follows.all %}
                        <li>
                            <a href="{% url 'posty:profile' following.id %}">{{ following }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="block">
            <h3 class="title is-4">{{ profile.user.username }} is followed by:</h3>
            <div class="content">
                <ul>
                    {% for follower in profile.followed_by.all %}
                        <li>
                            <a href="{% url 'posty:profile' follower.id %}">{{ follower }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock content %}
