<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Include the Bulma CSS framework for styling -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
              rel="stylesheet"
              type="text/css"/>
        <script src="{% static 'js/posty_functions.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/base.js' %}"></script>
        <title>Posty</title>
    </head>
    <body>
        <a href="{% url 'posty:dashboard' %}" style="text-decoration: none;">
            <section class="hero is-small is-success mb-4 has-background-info-dark">
                <div class="hero-body">
                    <h1 class="title is-1 posty-title"
                        style="font-family:Klavika, sans-serif">Posty</h1>
                    <p class="subtitle is-4">Social Media Made Simple</p>
                </div>
            </section>
        </a>
        <div class="container-fluid">
            <header class="p-3 mb-3 border-bottom">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            {% if user.is_authenticated %}
                            </ul>
                            <div class="dropdown text-end">
                                <a href="#"
                                   class="d-block link-dark text-decoration-none dropdown-toggle"
                                   id="dropdownUser1"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    My Account ({{ user.username }})
                                </a>
                                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                    {% comment %} profile settings list item with link to profile settings with user pk {% endcomment %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="{% url 'accounts:edit_profile' user.pk %}">Edit Profile</a>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </header>
            <div class="columns">
                <div class="column is-one-fifth" id="left_column">
                    {% comment %} <div class="block">
                    <a href="{% url 'posty:profile_list' %}" style="text-decoration: none;">
                        <button class="button is-dark is-outlined is-fullwidth">All Profiles</button>
                    </a>
                </div>
                <div class="block">
                    <a href="{% url 'posty:profile' request.user.profile.id %}" style="text-decoration: none">
                        <button class="button is-info is-light is-outlined is-fullwidth">My Profile</button>
                    </a>
                    </div> {% endcomment %}
                    {% if user.is_authenticated %}
                        <ul class="nav flex-column" id="navlist">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'posty:dashboard' %}">
                                    <button class="button is-info is-light is-fullwidth">Home</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active"
                                   href="{% url 'posty:profile' request.user.profile.id %}">
                                    <button class="button is-info is-light is-fullwidth">My Profile</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'posty:profile_list' %}">
                                    <button class="button is-info is-light is-fullwidth">All Profiles</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link">
                                    <a href="#"
                                       class="d-block"
                                       id="dropdownUser1"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        <button class="button is-info is-light is-fullwidth">Messaging</button>
                                    </a>
                                    <ul class="dropdown-menu text-medium" aria-labelledby="dropdownUser1">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'postman:inbox' %}">Received</a>
                                                    </li>
                                                </td>
                                                <td>
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'postman:sent' %}">Sent</a>
                                                    </li>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'postman:archives' %}">Archive</a>
                                                    </li>
                                                </td>
                                                <td>
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'postman:trash' %}">Trash</a>
                                                    </li>
                                                </td>
                                            </tr>
                                        </table>
                                    </ul>
                                </div>
                            </li>
                            {% comment %} <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                            </li> {% endcomment %}
                        </ul>
                    {% endif %}
                </div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script type="text/javascript">
        // move navmenu with scroll keeping in same alignment using jquery
        $(document).ready(function () {
            var nav = $('#navlist');
            var navHomeY = nav.offset().top;
            var isFixed = false;
            var $w = $(window);
            $w.scroll(function () {
                var scrollTop = $w.scrollTop();
                var shouldBeFixed = scrollTop > navHomeY;
                if (shouldBeFixed && !isFixed) {
                    nav.css({
                        position: 'fixed',
                        top: 0,
                        left: nav.offset().left,
                        width: nav.width()
                    });
                    isFixed = true;
                }
                else if (!shouldBeFixed && isFixed) {
                    nav.css({
                        position: 'static'
                    });
                    isFixed = false;
                }
            });
        });

        </script>
    </body>
</html>
